/* Installation and maintenance styles. */
body.mainteance-page {
  font-family: Helvetica, Arial, sans-serif;
}
body.maintenance-page #branding {
  background-color: #333;
}
body.maintenance-page #branding h1.page-title {
  color: #FFFFFF;
  font-size: 32px;
  padding: 0 0 20px;
}
/*body.maintenance-page #logo {
  background: transparent url(../themes/adminimal_theme/css/images/exclamation.png) no-repeat top left;
  height: 0;
  overflow: hidden;
  padding-top: 48px;
  width: 48px;
}*/
body.maintenance-page fieldset {
  border: solid 1px #ddd;
  border-top: none;
  box-shadow: 0px -3px 0 #0074BD;
  padding: 12px;
  margin: 0 0 20px;
}
body.maintenance-page fieldset .fieldset-legend {
  background: white;
  padding: 0 6px;
  margin: 0 !important;
  margin-left: -3px !important;
  position: relative !important;
  font-size: 15px;
  font-weight: normal;
  text-transform: none !important;
}
body.maintenance-page input.form-autocomplete,
body.maintenance-page input.form-text,
body.maintenance-page input.form-file,
body.maintenance-page textarea.form-textarea,
body.maintenance-page select.form-select {
  padding: 5px 7px;
  border: 1px solid #ddd;
  color: #333;
  outline: 2px solid transparent;
  outline-offset: 0px;
}
body.maintenance-page .chosen-container .chosen-results {
  max-height: 120px;
}
body.maintenance-page input.form-text:focus,
body.maintenance-page input.form-file:focus,
body.maintenance-page textarea.form-textarea:focus,
body.maintenance-page select.form-select:focus {
  color: #000;
  border-color: #68A3CF;
  outline: 2px solid #C1E0FF;
  outline-offset: 0px;
}
body.maintenance-page input.form-submit {
  cursor: pointer;
  background: #e3e3e3;
  border: none;
  border-radius: 0;
  padding: 6px 10px;
  margin-bottom: 1em;
  margin-right: 1em;
  color: #555;
  text-align: center;
  font-weight: normal;
}
body.maintenance-page input.form-submit:hover {
  background: #CECECE;
}
body.maintenance-page ol.task-list li.done {
  background-image: url(../themes/adminimal_theme/css/images/task-check.png);
  color: #4d8f46;
}
/* Misc styles. */
body.adminimal-theme .block-lang-dropdown h2 {
  display: inline-block;
  margin-right: 1em;
}
body.adminimal-theme .block-lang-dropdown .content {
  display: inline-block;
}
